<h3>Search User</h3>
<iframe name="formSendingSearch" style="display: none;"></iframe>
<form target="formSendingSearch" id="searchForm">
    <label for="search_name">Search Name</label>
    <input type="text" id="search-name" name="search_name" placeholder="Enter name"><br><br>
    <button type="submit" id="search">Search</button>
</form>
<div id="user-info"></div>
<div id="delete-todo-response"></div>


