<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" href="#">
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>

  <main>
    <div style="margin-bottom: 40px;">
      <%- include('./partials/saveUser'); %>
    </div>
    <div style="margin-bottom: 40px;">
      <%- include('./partials/searchUser'); %>
    </div>

  </main>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>