<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" href="#">
  <script src="/javascripts/saveUser.js" defer></script>
  <script src="/javascripts/searchUser.js" defer></script>
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>

  <main>
    <div style="margin-bottom: 40px;">
      <%- include('./partials/saveUser'); %>
    </div>
    <div style="margin-bottom: 40px;">
      <%- include('./partials/searchUser'); %>
    </div>

  </main>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>