<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>

  <main>
    <div style="margin-bottom: 40px;">
      <%- include('./partials/saveUser'); %>
    </div>
    <div style="margin-bottom: 40px;">
      <%- include('./partials/searchUser'); %>
    </div>

  </main>
</body>

</html>